* {
  box-sizing: border-box;
}
.mainSubCatalog {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.mainSubCatalog .link_navigationSubCatalog {
  text-decoration: none;
  color: black;
  padding-top: 5px;
  padding-left: 30px;
  padding-bottom: 10px;
  transition: color 0.3s ease;
}
.mainSubCatalog .link_navigationSubCatalog .li_navigationSubCatalog {
  list-style-type: none;
  font-size: 16px;
}
.mainSubCatalog .link_navigationSubCatalog:hover {
  color: red;
}
@media (max-width: 1300px) {
  .mainSubCatalog {
    width: 60vw;
    margin: 0 auto;
  }
}
@media (max-width: 860px) {
  .mainSubCatalog {
    width: 80vw;
  }
}
