.catalog_background{
    margin-left:210px;
    margin-right:210px;
    margin-top:10px;
    background-color: #fff;
    .categories_content{
        display:flex;
        background-color: #fff;
        .categoryLeft{
            display:flex;
            flex-direction: column;
        }
    }
}