.products_W {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
  margin-bottom: 30px;
}
.products_W .container_product {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  color: black;
  text-decoration: none;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
  border-radius: 10px;
  margin-bottom: 30px;
  padding: 20px;
  width: 60vw;
}
.products_W .container_product .image img {
  width: 12vw;
  height: 25vh;
}
.products_W .container_product .text_characterise {
  margin-left: 15px;
}
.products_W .container_product .text_characterise h4 {
  cursor: pointer;
  font-size: 18px;
  transition: color 0.3s ease-in-out;
}
.products_W .container_product .text_characterise h4:hover {
  color: #c73838;
}
.products_W .container_product .text_characterise p {
  font-size: 18px;
}
.products_W .container_product .text_characterise p span {
  font-weight: 600;
}
.products_W .container_product .btns_cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.products_W .container_product .btns_cards .join {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 30px;
}
.products_W .container_product .btns_cards .join h3 {
  font-size: 25px;
}
.products_W .container_product .btns_cards .join .navLink_button {
  text-decoration: none;
}
.products_W .container_product .btns_cards .icons_btn .btn_link {
  text-decoration: none;
  color: black;
  transition: color 0.3s ease-in-out;
}
.products_W .container_product .btns_cards .icons_btn .btn_link span {
  font-size: 27px;
  margin-left: 15px;
}
.products_W .container_product .btns_cards .icons_btn .btn_link:hover {
  color: red;
}
.products_W .container_product:hover {
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.2);
}
@media (max-width: 1100px) {
  .products_W {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 30px;
    margin-right: 100px;
    z-index: 2;
  }
  .products_W .container_product {
    display: flex;
    flex-direction: column;
    width: 42vw;
    margin-left: 30px;
  }
  .products_W .container_product .text_characterise h4 {
    text-align: center;
    margin-bottom: 10px;
  }
  .products_W .container_product .text_characterise p {
    margin-top: 10px;
    margin-bottom: 5px;
  }
  .products_W .container_product .btns_cards .join .navLink_button {
    text-decoration: none;
  }
  .products_W .container_product .btns_cards .join h3 {
    margin-top: 7px;
    margin-bottom: 10px;
  }
  .products_W .container_product .btns_cards .btn_link span {
    margin-left: 2px;
  }
}
@media (max-width: 920px) {
  .products_W {
    display: flex;
    flex-direction: column;
  }
  .products_W .container_product {
    display: flex;
    flex-direction: row;
    width: 70vw;
  }
  .products_W .container_product .image img {
    width: 15vw;
    height: 15vw;
  }
  .products_W .container_product .text_characterise {
    width: 35vw;
  }
  .products_W .container_product .text_characterise h4 {
    font-size: 15px;
    text-align: start;
  }
  .products_W .container_product .btns_cards .icons_btn .btn_link span {
    margin-left: 10px;
  }
}
@media (max-width: 830px) {
  .products_W {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 10px;
    margin-right: 10px;
  }
  .products_W .container_product {
    display: flex;
    flex-direction: column;
    width: 40vw;
  }
  .products_W .container_product .text_characterise h4 {
    text-align: center;
  }
  .products_W .container_product .btns_cards .join {
    width: 30vw;
  }
}
@media (max-width: 600px) {
  .products_W {
    display: flex;
    flex-direction: column;
  }
  .products_W .container_product {
    width: 70vw;
    margin-left: 20px;
    margin-right: 20px;
  }
  .products_W .container_product .text_characterise {
    width: 45vw;
  }
  .products_W .container_product .text_characterise h4 {
    text-align: start;
  }
  .products_W .container_product .image img {
    width: 20vw;
    height: 15vh;
  }
}
